DATABASE_URL=postgresql+asyncpg://music_app:909130@localhost:5432/music_intelligence

SPOTIFY_CLIENT_ID=f21aebb56d7342078d33f88104fe12ea
SPOTIFY_CLIENT_SECRET=d5502d55b69d486bb2c191a91d941976
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/api/v1/spotify/callback